@import "public/stylesheets/_global.scss";
@import "public/stylesheets/_variables.scss";

.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: black;
  font-weight: 700;
}

.App-logo {
  position: fixed;
  height: 80px;
  top: 30px;
  left: 30px;
  z-index: 1000;
}

.title-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  .title { @include light-font; }

  .intro { font-size: large; }
}

.background {
  width: 100%;
  height: 100vh;
  position: absolute;

  .panel {
    width: 50%;
    height: 100%;
    position: relative;
  }
}

.profile-photo {
  background: url("../public/img/portrait.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.interest-photo {
  background: url("../public/img/interests.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}